#full{
    display: flex;
    flex-direction: column;
    
}

#hero {
    width: 100%;
    height: 30vh;
    text-align: center;
    font-size: 60px;
    margin: 50px;
}

#explain {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

#whyUs {
    width: 40%;
    float:left;
    padding: 10px;
}

#callToAction {
    width: 60%;
    float:right;
    padding: 10px;
}

#toTheTable {
    margin: 20px;
    padding: 10px;
}

@media(max-width: 600px) {
    #explain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #whyUs {
        margin-top: 20px;
        width: 50%;
    }
    #callToAction {
        width: 50%;
    }
}