* {
    color:bisque;
    font-family: 'Arvo', serif;
}

:root {
    --primary-color: rgb(2, 48, 32);
    --secondary-color: rgb(92, 1, 1);
    --tertiary-color: rgb(172, 172, 172);
    --visted-color: rgba(172, 172, 172, 0.822);
}

p {
    font-family: 'Arvo', serif;
}

body {
    background-color: var(--primary-color);
}
header {
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: var(--secondary-color);
    height: 50px;
    display: grid;
    margin-left: 0px;
    /* grid-template-columns: auto, 50px; */
}

h1 {
    font-family: 'Rye', cursive;
    font-size: 40px;
    margin: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    grid-column: 1;
}
li {
    display: inline;
    margin: 20px;
    width: 100vw;
}
a {
    color: var(--tertiary-color);
    
}

a:link {
    text-decoration: none;
    margin: 5px;
    padding: 15px;
}

a:visited {
    color:var(--visted-color);

}

a:hover {
    text-decoration: underline;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-top: 2px solid beige;
    border-left: 2px solid beige;
    border-right: 2px solid beige;
}

a:focus {
    background-color: beige;
    color:black
}

a:active {
    text-decoration: dotted;
}

ul {
    margin: 20px;
}
main, article {
    position: relative;
    margin-top: 60px;
}
footer {
    position: fixed;
    bottom: 0px;
    background-color: rgb(92, 1, 1);
    width: 100vw;
    height: 50px;
    
}
button {
    color:black;
    background-color: beige;
}

#iconic {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    grid-column: 2;
    margin-right: 30px;
}

#copyright {
    position: absolute;
    bottom: 20px;
    right: 35px;
    color: var(--tertiary-color);
    font-size: 10px;
}

@media (min-width: 701px) {
    .disappering {
        display: flex;
        grid-column: 1;
        justify-content: flex-start;
        align-items: center;
    }

    .mobileFeature{
        display: none;
    }
}

@media (max-width: 700px) {
    .disappearing {
        display: none;
    }
    .mobileFeature{
        display: flex;
        grid-column: 1;
        justify-content: flex-start;
        align-items: top;
        margin: 5px;
    }
}

@use "@material/theme" with (
    $primary: #F5F5DC
);

@use "@material/button/mde-button";