section {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: auto;
}

#registrationSection {
    position: relative;
    left: 220px;
}

.standard-margin {
    margin: 10px;
}

.ampler-padding {
    padding: 20px;
}

.align-self-center {
    align-self: center;
}

.white-text {
    color: var(--white, white);
}

.silver-text {
    color: var(--silver, silver);
}

.red-background {
    background-color: var(--darkred, rgb(92, 1, 1));
}

main {
    justify-content: center;
}



.innerLink:hover {
    border: none;
    background-color: var(--secondary);
}