li:hover::after {
    content: attr(data-blackjack-value);
    position: absolute;
    bottom: 50px;
    padding: 10px;
    color: beige;
    font-size: 16px;
    z-index: 100;

}

li {
    position: relative;
}


* {
    text-align: center;
}

.mdc-button:hover::after {
    content: attr(data-user-hints);
    position: absolute;
    min-width: 200px;
    padding: 10px;
    color: beige;
    font-size: 16px;
    z-index: 100;
}

button {
    position: relative;
    margin: 20px;
}

.mdc-layout-grid {
    margin-top : 60px;
}

h2 {
    margin: 20px;
}

.mdc-card {
    background-color: rgb(28, 75, 58);
    padding: 10px;
}

#playersActions {
    justify-content: center;
    align-items: center;
}

.silver-text {
    color: var(--silver, silver);
}

.red-background {
    background-color: var(--darkred, rgb(92, 1, 1));
}

.hideSection {
    display: none;
}

.revealSection {
    display: grid;
}